<section class="about-program">
    <div class="about-program__content">
        <div class="about-program__top-row">
            <div class="about-program__text-content">
                <h2 class="about-program__heading">
                    Клубная программа
                </h2>
                <div class="about-program__text">
                    Благодаря клубной программе члены банного клуба «СТОЛБЫ» имеют особые привилегии.Благодаря клубной
                    программе члены банного клуба «СТОЛБЫ» имеют особые привилегии.
                </div>
            </div>
            <div class="about-program__image-wrapper">
                <img src="/images/program-card.webp" alt="" class="about-program__image">
            </div>
        </div>
        <ul class="about-program__list">
            <li class="about-program__list-item">
                <div class="about-program__accordion js-accordion">
                    <button class="about-program__accordion-btn" type="button">
                        Привилегии для членов клуба
                        <svg aria-hidden="true" height="14" width="14">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="about-program__accordion-dropdown">
                        <div class="about-program__accordion-dropdown-inner">
                            <div class="about-program__accordion-dropdown-text">
                                <p>
                                    Если вы выбираете подарок для тех, у кого все есть, подарочные карты от банного
                                    клуба «СТОЛБЫ» будут оптимальным выбором. Организацию самого мероприятия мы также
                                    можем взять на себя. Номиналы подарочных карт: 10, 15, 30, 50 тысяч рублей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="about-program__list-item">
                <div class="about-program__accordion js-accordion">
                    <button class="about-program__accordion-btn" type="button">
                        Как вступить в клуб
                        <svg aria-hidden="true" height="14" width="14">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="about-program__accordion-dropdown">
                        <div class="about-program__accordion-dropdown-inner">
                            <div class="about-program__accordion-dropdown-text">
                                <p>
                                    Если вы выбираете подарок для тех, у кого все есть, подарочные карты от банного
                                    клуба «СТОЛБЫ» будут оптимальным выбором. Организацию самого мероприятия мы также
                                    можем взять на себя. Номиналы подарочных карт: 10, 15, 30, 50 тысяч рублей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="about-program__list-item">
                <div class="about-program__accordion js-accordion">
                    <button class="about-program__accordion-btn" type="button">
                        Клубная карта
                        <svg aria-hidden="true" height="14" width="14">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="about-program__accordion-dropdown">
                        <div class="about-program__accordion-dropdown-inner">
                            <div class="about-program__accordion-dropdown-text">
                                <p>
                                    Если вы выбираете подарок для тех, у кого все есть, подарочные карты от банного
                                    клуба «СТОЛБЫ» будут оптимальным выбором. Организацию самого мероприятия мы также
                                    можем взять на себя. Номиналы подарочных карт: 10, 15, 30, 50 тысяч рублей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="about-program__list-item">
                <div class="about-program__accordion js-accordion">
                    <button class="about-program__accordion-btn" type="button">
                        Подарочные карты
                        <svg aria-hidden="true" height="14" width="14">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="about-program__accordion-dropdown">
                        <div class="about-program__accordion-dropdown-inner">
                            <div class="about-program__accordion-dropdown-text">
                                <p>
                                    Если вы выбираете подарок для тех, у кого все есть, подарочные карты от банного
                                    клуба «СТОЛБЫ» будут оптимальным выбором. Организацию самого мероприятия мы также
                                    можем взять на себя. Номиналы подарочных карт: 10, 15, 30, 50 тысяч рублей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="about-program__list-item">
                <div class="about-program__accordion js-accordion">
                    <button class="about-program__accordion-btn" type="button">
                        Привилегии
                        <svg aria-hidden="true" height="14" width="14">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="about-program__accordion-dropdown">
                        <div class="about-program__accordion-dropdown-inner">
                            <div class="about-program__accordion-dropdown-text">
                                <p>
                                    Если вы выбираете подарок для тех, у кого все есть, подарочные карты от банного
                                    клуба «СТОЛБЫ» будут оптимальным выбором. Организацию самого мероприятия мы также
                                    можем взять на себя. Номиналы подарочных карт: 10, 15, 30, 50 тысяч рублей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="about-program__list-item">
                <div class="about-program__accordion js-accordion">
                    <button class="about-program__accordion-btn" type="button">
                        Условия вступления в клуб
                        <svg aria-hidden="true" height="14" width="14">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="about-program__accordion-dropdown">
                        <div class="about-program__accordion-dropdown-inner">
                            <div class="about-program__accordion-dropdown-text">
                                <p>
                                    Если вы выбираете подарок для тех, у кого все есть, подарочные карты от банного
                                    клуба «СТОЛБЫ» будут оптимальным выбором. Организацию самого мероприятия мы также
                                    можем взять на себя. Номиналы подарочных карт: 10, 15, 30, 50 тысяч рублей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>