<section class="about-info">
    <div class="about-info__content">
        <div class="about-info__text-content">
            <h3 class="about-info__heading">
                Уютные интерьеры банно-гостевых домов
            </h3>
            <div class="about-info__text">
                <p>
                    Клуб состоит из пяти банно-гостевых двухэтажных домов, готовых вместить до 36 гостей. Каждый дом —
                    со своим характером и колоритом: альпийское Шале, уютная Изба, изысканная Усадьба, современная
                    Вилла, впечатляющий Особняк.
                </p>
                <p>
                    Приглашаем насладиться эстетикой интерьеров банно-гостевых домов и оригинальностью термального
                    комплекса каждого дома.
                </p>
                <p>
                    Выбор для гостей всегда сложный, оригинальные интерьеры пронизаны особой атмосферой, а выбирать
                    стоит с учетом характера запланированного мероприятия и Вашего настроения.
                </p>
            </div>
        </div>
        <div class="about-info__image-container">
            <img src="/images/about-info.webp" alt="" class="about-info__image">
        </div>
    </div>
</section>