<section class="about-houses">
    <div class="about-houses__content">
        <div class="about-houses__block">
            <div class="about-houses__block-bg">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/1-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/1.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/1-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/1.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/1-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/1.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-houses__block-title">
                Особняк
            </div>
            <div class="about-houses__block-arrows">
                <button class="about-houses__block-arrow about-houses__block-arrow--prev">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="about-houses__block-arrow about-houses__block-arrow--next">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="about-houses__block">
            <div class="about-houses__block-bg">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/2-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/2.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/2-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/2.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/2-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/2.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-houses__block-title">
                Вилла
            </div>
            <div class="about-houses__block-arrows">
                <button class="about-houses__block-arrow about-houses__block-arrow--prev">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="about-houses__block-arrow about-houses__block-arrow--next">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="about-houses__block">
            <div class="about-houses__block-bg">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/3-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/3.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/3-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/3.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/3-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/3.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-houses__block-title">
                Изба
            </div>
            <div class="about-houses__block-arrows">
                <button class="about-houses__block-arrow about-houses__block-arrow--prev">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="about-houses__block-arrow about-houses__block-arrow--next">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="about-houses__block">
            <div class="about-houses__block-bg">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/4-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/4.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/4-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/4.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/4-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/4.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-houses__block-title">
                Усадьба
            </div>
            <div class="about-houses__block-arrows">
                <button class="about-houses__block-arrow about-houses__block-arrow--prev">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="about-houses__block-arrow about-houses__block-arrow--next">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="about-houses__block">
            <div class="about-houses__block-bg">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/5-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/5.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/5-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/5.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-houses__block-bg-card">
                                <picture>
                                    <source srcset="/images/about-houses/5-mobile.webp" media="(max-width: 640px)"/>
                                    <img src="/images/about-houses/5.webp" alt=""
                                         class="about-houses__block-bg-card-image">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-houses__block-title">
                Шале
            </div>
            <div class="about-houses__block-arrows">
                <button class="about-houses__block-arrow about-houses__block-arrow--prev">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="about-houses__block-arrow about-houses__block-arrow--next">
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>