<section class="hero hero--hide-on-mobile">
    <div class="hero__bg">
        <picture>

            <img class="hero__bg-image" src="/images/hero.webp" />
        </picture>
    </div>
    <div class="hero__content">
        <h1 class="hero__main-heading">
            Акутальное
        </h1>
        <div class="hero__text-content">
            <div class="hero__text">
                Банный клуб &laquo;СТОЛБЫ&raquo;&nbsp;&mdash; это новое место силы в&nbsp;20&nbsp;минутах
                от&nbsp;Казани.
                Клуб расположен недалеко от&nbsp;столицы
                Татарстана, но&nbsp;в&nbsp;достаточном удалении от&nbsp;большого города, что гарантирует спокойный
                и&nbsp;размеренный
                отдых
                для гостей на&nbsp;охраняемой и&nbsp;закрытой территории.
            </div>
        </div>
    </div>
</section>