<section class="actual">
    <div class="actual__content">
        <ul class="actual__list">
            <li class="actual__list-item">
                <div class="actual__card">
                    <div class="actual__card-text-content">
                        <h3 class="actual__card-heading">
                            Попробуйте летнее меню от шеф-повара
                        </h3>
                        <div class="actual__card-text">
                            В банном клубе «СТОЛБЫ» летнее меню создано, чтобы дополнить атмосферу отдыха: после
                            парения, у бассейна или в кругу близких. Здесь всё — про наслаждение и эстетическое
                            удовольствие.
                        </div>
                    </div>
                    <div class="actual__card-image-container">
                        <img src="/images/actual/1.webp" class="actual__card-image">
                    </div>
                </div>
            </li>
            <li class="actual__list-item actual__list-item--image-left">
                <div class="actual__card">
                    <div class="actual__card-text-content">
                        <h3 class="actual__card-heading">
                            Мини-отпуск в банном клубе «СТОЛБЫ»
                        </h3>
                        <div class="actual__card-text">
                            В банном клубе «СТОЛБЫ» летнее меню создано, чтобы дополнить атмосферу отдыха: после
                            парения, у бассейна или в кругу близких. Здесь всё — про наслаждение и эстетическое
                            удовольствие.
                        </div>
                    </div>
                    <div class="actual__card-image-container">
                        <img src="/images/actual/1.webp" class="actual__card-image">
                    </div>
                </div>
            </li>
            <li class="actual__list-item actual__list-item--overlayed">
                <div class="actual__card">
                    <div class="actual__card-text-content">
                        <h3 class="actual__card-heading">
                            Корпоративные встречи нового уровня: где работа становится отдыхом
                        </h3>
                        <div class="actual__card-text">
                            В банном клубе «СТОЛБЫ» летнее меню создано, чтобы дополнить атмосферу отдыха: после
                            парения, у бассейна или в кругу близких. Здесь всё — про наслаждение и эстетическое
                            удовольствие.
                        </div>
                    </div>
                    <div class="actual__card-image-container">
                        <picture>
                            <source srcset="/images/actual/1.webp" media="(max-width: 640px)" />
                            <img src="/images/actual/2.webp" class="actual__card-image">
                        </picture>
                    </div>
                </div>
            </li>
            <li class="actual__list-item">
                <div class="actual__card">
                    <div class="actual__card-text-content">
                        <h3 class="actual__card-heading">
                            Место, где рождаются легендарные праздники
                        </h3>
                        <div class="actual__card-text">
                            В банном клубе «СТОЛБЫ» летнее меню создано, чтобы дополнить атмосферу отдыха: после
                            парения, у бассейна или в кругу близких.Здесь всё — про наслаждение и эстетическое
                            удовольствие.
                        </div>
                    </div>
                    <div class="actual__card-image-container">
                        <img src="/images/actual/1.webp" class="actual__card-image">
                    </div>
                </div>
            </li>
            <li class="actual__list-item">
                <div class="actual__card">
                    <div class="actual__card-text-content">
                        <h3 class="actual__card-heading">
                            Деловое предложение – бизнес-встречи в банном клубе «СТОЛБЫ»
                        </h3>
                        <div class="actual__card-text">
                            В банном клубе «СТОЛБЫ» летнее меню создано, чтобы дополнить атмосферу отдыха: после
                            парения, у бассейна или в кругу близких. Здесь всё — про наслаждение и эстетическое
                            удовольствие.
                        </div>
                    </div>

                </div>
            </li>
            <li class="actual__list-item actual__list-item--image-left">
                <div class="actual__card">
                    <div class="actual__card-text-content">
                        <h3 class="actual__card-heading">
                            ЗаСТОЛБите свой день! Особые условия для именинников
                        </h3>
                        <div class="actual__card-text">
                            В банном клубе «СТОЛБЫ» летнее меню создано, чтобы дополнить атмосферу отдыха: после
                            парения, у бассейна или в кругу близких. Здесь всё — про наслаждение и эстетическое
                            удовольствие.
                        </div>
                    </div>
                    <div class="actual__card-image-container">
                        <img src="/images/actual/1.webp" class="actual__card-image">
                    </div>
                </div>
            </li>
            <li class="actual__list-item">
                <div class="actual__card">
                    <div class="actual__card-text-content">
                        <h3 class="actual__card-heading">
                            Актуально для банных гурманов – баня по-черному
                        </h3>
                        <div class="actual__card-text">
                            В банном клубе «СТОЛБЫ» летнее меню создано, чтобы дополнить атмосферу отдыха: после
                            парения, у бассейна или в кругу близких. Здесь всё — про наслаждение и эстетическое
                            удовольствие.
                        </div>
                    </div>
                    <div class="actual__card-image-container">
                        <img src="/images/actual/1.webp" class="actual__card-image">
                    </div>
                </div>
            </li>
            <li class="actual__list-item actual__list-item--image-left">
                <div class="actual__card">
                    <div class="actual__card-text-content">
                        <h3 class="actual__card-heading">
                            Подарите отдых в банном клубе «СТОЛБЫ». Предложение, от которого невозможно отказаться!
                        </h3>
                        <div class="actual__card-text">
                            В банном клубе «СТОЛБЫ» летнее меню создано, чтобы дополнить атмосферу отдыха: после
                            парения, у бассейна или в кругу близких. Здесь всё — про наслаждение и эстетическое
                            удовольствие.
                        </div>
                    </div>
                    <div class="actual__card-image-container">
                        <img src="/images/actual/1.webp" class="actual__card-image">
                    </div>
                </div>
            </li>
        </ul>
        <div class="actual__divider">

        </div>
    </div>
</section>