<section class="book book--success">
    <div class="book__content">
        <a href="#" class="book__back-btn">
            <svg width="48" height="48" viewBox="0 0 48 48">
                <path
                        d="M31.7544 14.834C32.1502 14.4491 32.7923 14.4489 33.188 14.834C33.5835 15.219 33.5834 15.8434 33.188 16.2285L25.1987 24.002L33.188 31.7754C33.5833 32.1606 33.5836 32.785 33.188 33.1699C32.7923 33.5548 32.1502 33.5547 31.7544 33.1699L23.7651 25.3965L16.2466 32.7129C15.8508 33.098 15.2088 33.0979 14.813 32.7129C14.4172 32.3278 14.4173 31.7035 14.813 31.3184L22.3315 24.002L14.813 16.6855C14.4172 16.3005 14.4173 15.6762 14.813 15.291C15.2088 14.9059 15.8508 14.9059 16.2466 15.291L23.7651 22.6064L31.7544 14.834Z"/>
            </svg>
        </a>
        <h2 class="book__heading">
            Забронировать
        </h2>
        <div class="book__heading-text">
            Ваше бронирование С-200326-002
        </div>
        <div class="book__form">
            <div class="book__form-fields">
                <div class="book__form-field book__form-field--fullwidth">
                    <div class="book__form-field-label">
                        Дом
                    </div>
                    <div class="book__form-select choice-selected" data-placeholder="Выбрать дом" data-required-select>
                        <div class="book__form-select-wrapper">
                            <button class="book__form-select-btn" type="button">
                                <span class="book__form-select-btn-text js-btn-text">
                                    Усадьба
                                </span>
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#select-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="book__form-field">
                    <div class="book__form-field-label">
                        Дата
                    </div>
                    <div class="book__form-field-input-wrapper">
                        <div class="book__form-datepicker" id="datepicker-error">
                            <div class="book__form-datepicker-wrapper">
                                <label class="book__form-datepicker-label">
                                    <input type="text" class="book__form-datepicker-input" name="date"
                                           placeholder="Выбрать дату" readonly required
                                           data-error-container="#datepicker-error" value="20.03.2026">
                                    <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="book__form-field">
                    <div class="book__form-field-label">
                        Период
                    </div>
                    <div class="book__form-select choice-selected" data-placeholder="Выбрать период"
                         data-required-select>
                        <div class="book__form-select-wrapper">
                            <button class="book__form-select-btn" type="button">
                                <span class="book__form-select-btn-text">
                                    День
                                </span>
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#select-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="book__form-field book__form-field--fullwidth">
                    <div class="book__form-field-label">
                        Сколько гостей
                    </div>
                    <div class="book__form-counter">
                        <input type="number" class="book__form-counter-input" readonly="" name="counter" value="16">
                    </div>
                </div>
                <div class="book__form-field">
                    <div class="book__form-field-label">
                        Имя*
                    </div>
                    <div class="book__form-field-input-wrapper">
                        <input type="text" class="book__form-field-input" name="name" placeholder="Ваше имя" required=""
                               value="Егор" readonly>
                    </div>
                </div>
                <div class="book__form-field">
                    <div class="book__form-field-label">
                        Контактный телефон*
                    </div>
                    <div class="book__form-field-input-wrapper">
                        <input type="tel" class="book__form-field-input" name="phone" placeholder="+7 (000) 000-00-00"
                               required="" value="+7 (903) 709-30-14" readonly>
                    </div>
                </div>
            </div>
            <a href="#" class="book__form-submit">
                Скачать
            </a>
        </div>
    </div>
</section>