<section class="contacts">
    <div class="contacts__content">
        <h2 class="contacts__heading">
            Поделитесь вашими впечталениями
        </h2>
        <ul class="contacts__list">
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <img src="/images/contacts/1.svg" alt="" class="contacts__card-icon">
                    <a href="#" class="contacts__card-link">
                        Меню
                    </a>
                </div>
            </li>
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <img src="/images/contacts/2.svg" alt="" class="contacts__card-icon">
                    <a href="#" class="contacts__card-link">
                        Оставить отзыв
                    </a>
                </div>
            </li>
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <img src="/images/contacts/3.svg" alt="" class="contacts__card-icon">
                    <a href="#" class="contacts__card-link">
                        Telegram
                    </a>
                </div>
            </li>
        </ul>
        <div class="contacts__divider">

        </div>
    </div>
</section>