<section class="event-info">
    <div class="event-info__content">
        <div class="event-info__col">
            <div class="event-info__text-content">
                <h2>
                    Преимущества
                </h2>
                <p>
                    Премиум-формат для корпоративных событий, частных праздников и эксклюзивных встреч.
                </p>
                <p>
                    Ваше мероприятие — в атмосфере доверительной приватности по Вашему сценарию.
                </p>
                <p>
                    Мы предлагаем не просто аренду пространства, а продуманную экосистему для событий: от банных
                    ритуалов до гастрономических впечатлений
                </p>
                <div class="event-info__advantages">
                    <div class="event-info__advantage">
                        <h3>
                            Полная приватность
                        </h3>
                        <p>
                            Закрытые дома с персональной территорией, которые вмещают до 36 гостей
                        </p>
                    </div>
                    <div class="event-info__advantage">
                        <h3>
                            Уникальная атмосфера
                        </h3>
                        <p>
                            5 домов с авторскими интерьерами под Ваш сценарий мероприятия
                        </p>
                    </div>
                    <div class="event-info__advantage">
                        <h3>
                            Ресторанное обслуживание
                        </h3>
                        <p>
                            Авторская кухня от именитого шефа, которая создаст незабываемое настроение
                        </p>
                    </div>
                    <div class="event-info__advantage">
                        <h3>
                            Гибкие сценарии
                        </h3>
                        <p>
                            Вместительные гостиные с ТВ-зонами, уютные пространства для отдыха (в том числе на улице),
                            несколько
                            видов бань и профессиональные пармейстеры, спа-зоны, бассейн, караоке, бильярд
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-info__divider"></div>
        </div>
        <div class="event-info__col">
            <div class="event-info__text-content">
                <h2>
                    Форматы мероприятий
                </h2>
                <div class="event-info__accordion">
                    <h3 class="event-info__accordion-btn">
                        <div class="event-info__accordion-btn-text">
                            Корпоративы: профессиональные праздники, важные даты, тимбилдинги, стратегические сессии
                        </div>
                        <svg width="24" height="24" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </h3>
                    <div class="event-info__accordion-dropdown">
                        <div class="event-info__accordion-dropdown-inner">
                            <ul>
                                <li>
                                    Совмещение деловой части и разнообразного отдыха;
                                </li>
                                <li>
                                    Авторское меню от шефа;
                                </li>
                                <li>
                                    Уникальные впечатления: гранд-парная до 20 гостей, бассейны, купели, услуги
                                    профессиональных
                                    пармейстеров;
                                </li>
                                <li>
                                    Дома вмещают до 36 гостей, а для компаний большего размера, Вы можете арендовать
                                    несколько
                                    домов.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="event-info__accordion">
                    <h3 class="event-info__accordion-btn">
                        <div class="event-info__accordion-btn-text">
                            Частные праздники: дни рождения, мальчишники/девичники, особые даты и события
                        </div>
                        <svg width="24" height="24" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </h3>
                    <div class="event-info__accordion-dropdown">
                        <div class="event-info__accordion-dropdown-inner">
                            <ul>
                                <li>
                                    Подбор активностей под настроение Вашего праздника (парение, караоке, бильярд, спа,
                                    массаж,
                                    танцы, фотосессии);
                                </li>
                                <li>
                                    Эксклюзивные напитки и закуски;
                                </li>
                                <li>
                                    Яркие эмоции и фотографии;
                                </li>
                                <li>
                                    Работаем круглосуточно, а Вы можете остаться на ночь в уютных спальнях.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="event-info__accordion">
                    <h3 class="event-info__accordion-btn">
                        <div class="event-info__accordion-btn-text">
                            Деловые встречи: переговоры, бизнес-ужины
                        </div>
                        <svg width="24" height="24" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </h3>
                    <div class="event-info__accordion-dropdown">
                        <div class="event-info__accordion-dropdown-inner">
                            <ul>
                                <li>
                                    Режим полной конфиденциальности в премиальном пространстве;
                                </li>
                                <li>
                                    Возможность совместить работу и отдых: статусные встречи, релакс и гастрономические
                                    изыски;
                                </li>
                                <li>
                                    Запоминающийся опыт для Вас и Ваших деловых партнеров.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>