<section class="gallery gallery--event">
    <div class="gallery__wrapper">
        <div class="gallery__bg-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__bg-slider-card">
                            <picture>
                                <source srcset="/images/gallery-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/gallery.webp" class="gallery__bg-slider-card-image" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__bg-slider-card">
                            <picture>
                                <source srcset="/images/gallery-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/gallery.webp" class="gallery__bg-slider-card-image" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery__content">
            <div class="gallery__arrows">
                <button class="gallery__arrow gallery__arrow--prev">
                    <svg width="24" height="24" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="gallery__arrow gallery__arrow--next">
                    <svg width="24" height="24" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="gallery__send-request">
        <div class="gallery__send-request-content">
            <a href="#" class="gallery__send-request-btn">
                Отправить запрос
            </a>
            <div class="gallery__send-request-divider">

            </div>
        </div>
    </div>
</section>