<footer class="page-footer">
    <div class="page-footer__content">
        <a href="#" class="page-footer__logo">
            <img src="/images/footer-logo.svg" alt="Лого" class="page-footer__logo-image" width="324">
        </a>
        <nav class="page-footer__nav">
            <ul class="page-footer__nav-list">
                <li class="page-footer__nav-list-item">
                    <a href="#" class="page-footer__nav-link">
                        Главная
                    </a>
                </li>
                <li class="page-footer__nav-list-item">
                    <a href="#" class="page-footer__nav-link">
                        Гостевые дома
                    </a>
                </li>
                <li class="page-footer__nav-list-item">
                    <a href="#" class="page-footer__nav-link">
                        Кухня
                    </a>
                </li>
                <li class="page-footer__nav-list-item">
                    <a href="#" class="page-footer__nav-link">
                        Цены и услуги
                    </a>
                </li>
                <li class="page-footer__nav-list-item">
                    <a href="#" class="page-footer__nav-link">
                        О клубе
                    </a>
                </li>
                <li class="page-footer__nav-list-item">
                    <a href="#" class="page-footer__nav-link">
                        Акутальное
                    </a>
                </li>
                <li class="page-footer__nav-list-item">
                    <a href="#" class="page-footer__nav-link">
                        Провести мероприятие
                    </a>
                </li>
            </ul>
        </nav>
        <div class="page-footer__wrapper">
            <div class="page-footer__contacts">
                <div class="page-footer__contacts-card">
                    <h3 class="page-footer__contacts-card-title">
                        Горячая линия
                    </h3>
                    <a href="tel:+78432170088" class="page-footer__contacts-card-link">
                        +7 (843) 217-00-88
                    </a>
                </div>
                <div class="page-footer__contacts-card">
                    <h3 class="page-footer__contacts-card-title">
                        Электронная почта
                    </h3>
                    <a href="mailto:zakaz@club-stolby.ru" class="page-footer__contacts-card-link">
                        zakaz@club-stolby.ru
                    </a>
                </div>
            </div>
            <div class="page-footer__social">
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <span class="page-footer__social-link-icon">
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </span>
                            <span class="page-footer__social-link-text">
                                WhatsApp
                            </span>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <span class="page-footer__social-link-icon">
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </span>
                            <span class="page-footer__social-link-text">
                                Telegram
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__address">
                г. Казань, с. Столбище, ул. Объездная, 7/1
            </div>
            <div class="page-footer__bottom-wrapper">
                <div class="page-footer__copyright">
                    2025 © Все права защищены
                </div>
                <div class="page-footer__links">
                    <a href="#">
                        Политика обработки персональных данных
                    </a>
                    <a href="#">
                        Политика cookies
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>