<section class="gallery gallery--kitchen">
    <div class="gallery__wrapper">
        <div class="gallery__bg-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__bg-slider-card">
                            <picture>
                                <source srcset="/images/gallery-mobile.webp" media="(max-width: 640px)"/>
                                <img src="/images/gallery.webp" class="gallery__bg-slider-card-image"/>
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__bg-slider-card">
                            <picture>
                                <source srcset="/images/gallery-mobile.webp" media="(max-width: 640px)"/>
                                <img src="/images/gallery.webp" class="gallery__bg-slider-card-image"/>
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery__content">
            <div class="gallery__text-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gallery__text-slider-card">

                                <div class="gallery__text-slider-card-text">
                                    Основа авторского меню от шеф-повара Ильсура Залютдинова - национальная кухня, а
                                    также блюда из рыбы и морепродуктов.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery__text-slider-card">

                                <div class="gallery__text-slider-card-text">
                                    Основа авторского меню от шеф-повара Ильсура Залютдинова - национальная кухня, а
                                    также блюда из рыбы и морепродуктов.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery__arrows">
                <button class="gallery__arrow gallery__arrow--prev">
                    <svg width="24" height="24" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="gallery__arrow gallery__arrow--next">
                    <svg width="24" height="24" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</section>