<div class="page-header__overlay">

</div>
<header class="page-header">
    <div class="page-header__content">
        <a href="#" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link active">
                            Главная
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Гостевые дома
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Кухня
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Цены и услуги
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О клубе
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Акутальное
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Провести мероприятие
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__menu-contacts">
                <p>
                    г. Казань, с. Столбище,<br> ул. Объездная, 7/1
                </p>
                <a href="tel:+78432170088">
                    +7 (843) 217-00-88
                </a>
                <a href="mailto:zakaz@club-stolby.ru">
                    zakaz@club-stolby.ru
                </a>
            </div>
            <a href="#" class="page-header__callback-link">
                Бронировать
            </a>
        </div>
        <button class="page-header__burger">
            <div class="page-header__burger-inner">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </button>
    </div>
</header>