<section class="home-contacts">
    <div class="home-contacts__content">
        <h2 class="home-contacts__heading">
            Контакты
        </h2>
        <div class="home-contacts__text">
            г. Казань, с. Столбище,<br> ул. Объездная, 7/1
        </div>
        <ul class="home-contacts__social-list">
            <li class="home-contacts__social-list-item">
                <a href="#" class="home-contacts__social-link">
                    <svg width="24" height="24" aria-hidden="true">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="home-contacts__social-list-item">
                <a href="#" class="home-contacts__social-link">
                    <svg width="24" height="24" aria-hidden="true">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <a href="tel:+78432170088" class="home-contacts__phone">+7 (843) 217-00-88</a>
        <div class="home-contacts__divider">

        </div>
    </div>
</section>