<section class="house">
    <div class="house__intro">
        <div class="house__intro-bg">
            <picture>
                <source srcset="/images/house-intro-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/house-intro.webp" class="house__intro-bg-image" />
            </picture>
        </div>
        <div class="house__intro-content">
            <h1 class="house__intro-main-heading">
                Изба
            </h1>
            <div class="house__intro-text">
                остевой дом, сохранивший деревенский колорит благодаря оригинальному оформлению и традиционной дровяной
                печи в гостиной
            </div>
            <div class="house__intro-tags">
                <div class="house__intro-tag">
                    от 4 часов
                </div>
                <div class="house__intro-tag">
                    до 10 гостей
                </div>
                <div class="house__intro-tag">
                    от 38 000 ₽
                </div>
                <div class="house__intro-tag">
                    Площадь дома 440 м2
                </div>
            </div>
        </div>
    </div>
    <div class="house__conditions">
        <div class="house__conditions-content">
            <h2 class="house__conditions-heading">
                Условия пребывания
            </h2>
            <div class="house__conditions-row">
                <div class="house__conditions-large-text">
                    <p>
                        Аренда дома
                    </p>
                    <p>
                        4 часа, до 4-х гостей — 38 000 ₽.<br>Сутки, до 4-х гостей — 93 000 ₽.
                    </p>
                </div>
                <div class="house__conditions-small-text">
                    <p>
                        Дополнительный гость, на весь период пребывания — 5 000 ₽.
                    </p>
                    <p>
                        Продление аренды, на всю компанию гостей — 9 000 ₽/час.
                    </p>
                    <p>
                        Две деревянные бочки во дворе: с холодной водой, с теплой водой — 8 000 ₽ (за
                        обе).Предварительный заказ за 2 часа.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="gallery gallery--house">
        <div class="gallery__wrapper">
            <div class="gallery__bg-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gallery__bg-slider-card">
                                <picture>
                                    <source srcset="/images/house-gallery-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/house-gallery.webp" class="gallery__bg-slider-card-image" />
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery__bg-slider-card">
                                <picture>
                                    <source srcset="/images/house-gallery-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/house-gallery.webp" class="gallery__bg-slider-card-image" />
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery__content">

                <div class="gallery__arrows">
                    <button class="gallery__arrow gallery__arrow--prev">
                        <svg width="24" height="24" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="gallery__arrow gallery__arrow--next">
                        <svg width="24" height="24" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="house__features">
        <div class="house__features-content">


            <ul class="house__features-list">
                <li class="house__features-list-item">
                    <div class="house__features-card">
                        <div class="house__features-card-text-content">
                            <h3 class="house__features-card-title">
                                Включено в стоимость
                            </h3>
                            <div class="house__features-card-text">
                                <h4>
                                    Баня по-белому
                                </h4>
                                <p>
                                    Данную баню сложно переоценить — это современный вариант оздоровительной процедуры,
                                    в
                                    дополнение к которой рекомендуем купание в бассейнах или купелях с холодной или
                                    теплой
                                    водой на травах. После бани по-белому вы можете взбодриться прохладной водой купели,
                                    установленной внутри СПА-зоны, либо бассейна, расположенного во дворе дома
                                </p>

                            </div>
                            <div class="house__features-card-text">
                                <h4>
                                    Алтайская баня
                                </h4>
                                <p>
                                    Особенность и уникальность этой бани — в ее аромате, пар в алтайской бане проходит
                                    через
                                    луговые травы, которыми бережно укутаны стены. Алтайской баней приятно наслаждаться
                                    в
                                    любое время года, но холодной зимой или унылой осенью особенно приятно вдохнуть
                                    тепло
                                    трав и согреться не только жаром самой бани, но и воспоминаниями о лете.
                                </p>
                            </div>
                        </div>
                        <div class="house__features-card-image-container">
                            <img src="/images/house-features/1.webp" alt="" class="house__features-card-image">
                        </div>

                    </div>
                </li>
                <li class="house__features-list-item">
                    <div class="house__features-card">
                        <div class="house__features-card-text-content">
                            <h3 class="house__features-card-title">
                                За дополнительную плату
                            </h3>
                            <div class="house__features-card-text">
                                <h4>
                                    Поморский чан на дровах во дворе
                                </h4>
                                <p>
                                    Бочка во дворе с теплой водой и душистыми травами, подогреваемая дровяной печью.
                                </p>
                            </div>
                            <div class="house__features-card-divider">

                            </div>
                        </div>
                        <div class="house__features-card-image-container">
                            <img src="/images/house-features/2.webp" alt="" class="house__features-card-image">
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="house__services">
        <div class="house__services-content">
            <ul class="house__services-list">
                <li class="house__services-list-item">
                    <div class="house__services-card">
                        <h3 class="house__services-card-title">
                            Услуги парения и спа-процедуры
                        </h3>
                        <div class="house__services-card-text">
                            Для гостей предлагается авторское меню от шеф-повара. Для предварительного заказа доступны
                            блюда из заказного меню. Основа меню банного клуба «СТОЛБЫ» — национальная кухня, а также
                            блюда из рыбы и морепродуктов
                        </div>
                        <a href="#" class="house__services-card-link">
                            Скачать меню услуг
                        </a>
                    </div>
                </li>
                <li class="house__services-list-item">
                    <div class="house__services-card">
                        <h3 class="house__services-card-title">
                            Ресторанное обслуживание
                        </h3>
                        <div class="house__services-card-text">
                            Для гостей предлагается авторское меню от&nbsp;шеф-повара. Для предварительного заказа
                            доступны блюда из&nbsp;заказного меню. Основа меню банного клуба
                            &laquo;СТОЛБЫ&raquo;&nbsp;&mdash; национальная кухня, а&nbsp;также блюда из&nbsp;рыбы
                            и&nbsp;морепродуктов
                        </div>
                        <a href="#" class="house__services-card-link">
                            Скачать меню услуг
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>