<section class="kitchen-menu">
    <div class="kitchen-menu__content">
        <div class="kitchen-menu__accordions">
            <div class="kitchen-menu__accordion js-accordion">
                <button class="kitchen-menu__accordion-btn">
                    Основное меню
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#accordion-arrow"></use>
                    </svg>
                </button>
                <div class="kitchen-menu__accordion-dropdown">
                    <div class="kitchen-menu__accordion-dropdown-inner">
                        <div class="kitchen-menu__accordion-sections">
                            <div class="kitchen-menu__accordion-section">
                                <h3 class="kitchen-menu__accordion-section-title">
                                    Холодные закуски
                                </h3>
                                <ul class="kitchen-menu__accordion-section-list">
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>
                                                <div class="kitchen-menu__accordion-section-item-card-text">
                                                    (помидоры соленые, огурцы малосольные, чеснок маринованный, перец
                                                    чили маринованный, капуста по-гурийски, салат из корня сельдерея) /
                                                    1 шт/210/100 г
                                                </div>
                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>
                                                <div class="kitchen-menu__accordion-section-item-card-text">
                                                    (помидоры соленые, огурцы малосольные, чеснок маринованный, перец
                                                    чили маринованный, капуста по-гурийски, салат из корня сельдерея) /
                                                    1 шт/210/100 г
                                                </div>
                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                <span class="kitchen-menu__accordion-section-item-card-price-units">
                                                    740 г
                                                </span>
                                                <span class="kitchen-menu__accordion-section-item-card-price-divider">
                                                    /
                                                </span>
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="kitchen-menu__accordion-section">
                                <h3 class="kitchen-menu__accordion-section-title">
                                    Горячие закуски
                                </h3>
                                <ul class="kitchen-menu__accordion-section-list">
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>
                                                <div class="kitchen-menu__accordion-section-item-card-text">
                                                    (помидоры соленые, огурцы малосольные, чеснок маринованный, перец
                                                    чили маринованный, капуста по-гурийски, салат из корня сельдерея) /
                                                    1 шт/210/100 г
                                                </div>
                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>
                                                <div class="kitchen-menu__accordion-section-item-card-text">
                                                    (помидоры соленые, огурцы малосольные, чеснок маринованный, перец
                                                    чили маринованный, капуста по-гурийски, салат из корня сельдерея) /
                                                    1 шт/210/100 г
                                                </div>
                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                <span class="kitchen-menu__accordion-section-item-card-price-units">
                                                    740 г
                                                </span>
                                                <span class="kitchen-menu__accordion-section-item-card-price-divider">
                                                    /
                                                </span>
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kitchen-menu__accordion js-accordion">
                <button class="kitchen-menu__accordion-btn">
                    Дополнительное меню
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#accordion-arrow"></use>
                    </svg>
                </button>
                <div class="kitchen-menu__accordion-dropdown">
                    <div class="kitchen-menu__accordion-dropdown-inner">
                        <div class="kitchen-menu__accordion-sections">
                            <div class="kitchen-menu__accordion-section">
                                <h3 class="kitchen-menu__accordion-section-title">
                                    Холодные закуски
                                </h3>
                                <ul class="kitchen-menu__accordion-section-list">
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>
                                                <div class="kitchen-menu__accordion-section-item-card-text">
                                                    (помидоры соленые, огурцы малосольные, чеснок маринованный, перец
                                                    чили маринованный, капуста по-гурийски, салат из корня сельдерея) /
                                                    1 шт/210/100 г
                                                </div>
                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>
                                                <div class="kitchen-menu__accordion-section-item-card-text">
                                                    (помидоры соленые, огурцы малосольные, чеснок маринованный, перец
                                                    чили маринованный, капуста по-гурийски, салат из корня сельдерея) /
                                                    1 шт/210/100 г
                                                </div>
                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                <span class="kitchen-menu__accordion-section-item-card-price-units">
                                                    740 г
                                                </span>
                                                <span class="kitchen-menu__accordion-section-item-card-price-divider">
                                                    /
                                                </span>
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="kitchen-menu__accordion-section">
                                <h3 class="kitchen-menu__accordion-section-title">
                                    Горячие закуски
                                </h3>
                                <ul class="kitchen-menu__accordion-section-list">
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>
                                                <div class="kitchen-menu__accordion-section-item-card-text">
                                                    (помидоры соленые, огурцы малосольные, чеснок маринованный, перец
                                                    чили маринованный, капуста по-гурийски, салат из корня сельдерея) /
                                                    1 шт/210/100 г
                                                </div>
                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>
                                                <div class="kitchen-menu__accordion-section-item-card-text">
                                                    (помидоры соленые, огурцы малосольные, чеснок маринованный, перец
                                                    чили маринованный, капуста по-гурийски, салат из корня сельдерея) /
                                                    1 шт/210/100 г
                                                </div>
                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                <span class="kitchen-menu__accordion-section-item-card-price-units">
                                                    740 г
                                                </span>
                                                <span class="kitchen-menu__accordion-section-item-card-price-divider">
                                                    /
                                                </span>
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kitchen-menu__accordion js-accordion">
                <button class="kitchen-menu__accordion-btn">
                    Карта бара
                    <svg aria-hidden="true" height="14" width="14">
                        <use xlink:href="#accordion-arrow"></use>
                    </svg>
                </button>
                <div class="kitchen-menu__accordion-dropdown">
                    <div class="kitchen-menu__accordion-dropdown-inner">
                        <div class="kitchen-menu__accordion-sections">
                            <div class="kitchen-menu__accordion-section">
                                <h3 class="kitchen-menu__accordion-section-title">
                                    Аперитив
                                </h3>
                                <ul class="kitchen-menu__accordion-section-list">
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="kitchen-menu__accordion-section">
                                <h3 class="kitchen-menu__accordion-section-title">
                                    Водка
                                </h3>
                                <ul class="kitchen-menu__accordion-section-list">
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="kitchen-menu__accordion-section">
                                <h3 class="kitchen-menu__accordion-section-title">
                                    Текила
                                </h3>
                                <ul class="kitchen-menu__accordion-section-list">
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="kitchen-menu__accordion-section">
                                <h3 class="kitchen-menu__accordion-section-title">
                                    Ром
                                </h3>
                                <ul class="kitchen-menu__accordion-section-list">
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kitchen-menu__accordion-section-list-item">
                                        <div class="kitchen-menu__accordion-section-item-card">
                                            <div class="kitchen-menu__accordion-section-item-card-wrapper">
                                                <div class="kitchen-menu__accordion-section-item-card-title">
                                                    Позиция прайса
                                                </div>

                                            </div>
                                            <div class="kitchen-menu__accordion-section-item-card-price">
                                                58 000 ₽
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kitchen-menu__divider">

        </div>
        <a href="#" class="kitchen-menu__download-btn">
            Скачать меню
        </a>
    </div>
</section>