<section class="kitchen-intro">
    <div class="kitchen-intro__bg">
        <img class="kitchen-intro__bg-image" src="/images/kitchen-intro.webp" alt=""/>
    </div>
    <div class="kitchen-intro__content">
        <h1 class="kitchen-intro__main-heading">
            Кухня
        </h1>
        <div class="kitchen-intro__text-content">
            <h2 class="kitchen-intro__heading">
                Все гостевые дома банного клуба «СТОЛБЫ» находятся на ресторанном обслуживании.
            </h2>
            <div class="kitchen-intro__text">
                Основа авторского меню от шеф-повара Ильсура Залютдинова - национальная кухня, а также блюда из рыбы и
                морепродуктов.
            </div>
        </div>
        <div class="kitchen-intro__divider">

        </div>
    </div>
</section>