<section class="prices">
    <div class="prices__content">
        <div class="prices__block">
            <div class="prices__block-wrapper">
                <h3 class="prices__block-heading">
                    Аренда домов
                </h3>
                <div class="prices__block-desc">
                    <p>
                        В стоимость аренды дома включены принадлежности для каждого гостя:
                    </p>
                    <ul>
                        <li>
                            полотенца,
                        </li>
                        <li>
                            халат,
                        </li>
                        <li>
                            шапка,
                        </li>
                        <li>
                            косметический набор,
                        </li>
                        <li>
                            дубовый веник.
                        </li>
                    </ul>
                    <p>
                        Для бронирования банно-гостевого дома необходимо внести предоплату в размере 30 000 рублей при
                        заезде
                        менее чем на сутки, и 50 000 рублей при бронировании дома на сутки. Предоплату необходимо внести
                        в
                        течение 12 часов с момента направления сообщения о внесении предоплаты. В противном случае
                        банный
                        клуб
                        "СТОЛБЫ" оставляет за собой право аннулировать бронь.
                    </p>
                </div>
                <div class="prices__block-accordions">
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Усадьба
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Шале
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Вилла
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Изба
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Особняк
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="prices__block-link">
                Скачать
            </a>
        </div>
        <div class="prices__block">
            <div class="prices__block-wrapper">
                <h3 class="prices__block-heading">
                    Парение и Спа-процедуры
                </h3>

                <div class="prices__block-accordions">
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Пилинг
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Мыльно-веничная помывка
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Общий массаж
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Медовая глазурь
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Катание в бассейне
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="prices__block-link">
                Скачать
            </a>
        </div>
        <div class="prices__block">
            <div class="prices__block-wrapper">
                <h3 class="prices__block-heading">
                    Кухня
                </h3>

                <div class="prices__block-accordions">
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Основное меню
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Карта бара
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices__block-accordion js-accordion">
                        <button class="prices__block-accordion-btn" type="button">
                            <span class="prices__block-accordion-btn-text">
                                Заказное меню
                            </span>
                            <svg aria-hidden="true" height="14" width="14">
                                <use xlink:href="#accordion-arrow"></use>
                            </svg>
                        </button>
                        <div class="prices__block-accordion-dropdown">
                            <div class="prices__block-accordion-dropdown-inner">
                                <div class="prices__block-accordion-items">
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            Позиция прайса
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                    <div class="prices__block-accordion-item">
                                        <div class="prices__block-accordion-item-text">
                                            активный пилинг, очищающий кожу, улучшающий кровообращение и обновление
                                            клеток,
                                            оставляет приятнейший подарок: шелковистую и гладкую кожу)
                                        </div>
                                        <div class="prices__block-accordion-item-price">
                                            58 000 ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <a href="#" class="prices__block-link">
                Скачать
            </a>
        </div>
    </div>
</section>