<section class="hero hero--hide-on-mobile">
    <div class="hero__bg">
        <picture>
            <img class="hero__bg-image" src="/images/kitchen-intro.webp"/>
        </picture>
    </div>
    <div class="hero__content">
        <h1 class="hero__main-heading">
            Цены и услуги
        </h1>
        <div class="hero__text-content">
            <h2 class="hero__heading">
                Все гостевые дома банного клуба «СТОЛБЫ» находятся на ресторанном обслуживании.
            </h2>
            <div class="hero__text">
                Основа авторского меню от шеф-повара Ильсура Залютдинова - национальная кухня, а также блюда из рыбы и
                морепродуктов.
            </div>
        </div>
    </div>
</section>