<section class="variants">
    <div class="variants__content">
        <ul class="variants__list">
            <li class="variants__list-item variants__list-item--wide">
                <a href="#" class="variants__card">
                    <div class="variants__card-bg">
                        <picture>
                            <source srcset="/images/variants/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/variants/1.webp" class="variants__card-bg-image" />
                        </picture>
                    </div>
                    <div class="variants__card-content">
                        <h3 class="variants__card-title">
                            Особняк
                        </h3>
                        <div class="variants__card-text">
                            Флагманский дом банного клуба «СТОЛБЫ», рассчитанный на большие компании
                        </div>
                        <div class="variants__card-tags">
                            <div class="variants__card-tag">
                                от 6 часов
                            </div>
                            <div class="variants__card-tag">
                                до 36 гостей
                            </div>
                            <div class="variants__card-tag">
                                от 130 000 ₽
                            </div>
                            <div class="variants__card-tag">
                                Площадь дома 440 м2
                            </div>
                        </div>
                        <div class="variants__card-link">
                            Бронировать
                        </div>
                    </div>
                </a>
            </li>
            <li class="variants__list-item">
                <a href="#" class="variants__card">
                    <div class="variants__card-bg">
                        <picture>
                            <source srcset="/images/variants/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/variants/2.webp" class="variants__card-bg-image" />
                        </picture>
                    </div>
                    <div class="variants__card-content">
                        <h3 class="variants__card-title">
                            Шале
                        </h3>
                        <div class="variants__card-text">
                            Шале выполнен в стилистике, традиционной для деревянных домов горных альпийских районов
                        </div>
                        <div class="variants__card-tags">
                            <div class="variants__card-tag">
                                от 6 часов
                            </div>
                            <div class="variants__card-tag">
                                до 36 гостей
                            </div>
                            <div class="variants__card-tag">
                                от 130 000 ₽
                            </div>
                            <div class="variants__card-tag">
                                Площадь дома 440 м2
                            </div>
                        </div>
                        <div class="variants__card-link">
                            Бронировать
                        </div>
                    </div>
                </a>
            </li>
            <li class="variants__list-item">
                <a href="#" class="variants__card">
                    <div class="variants__card-bg">
                        <picture>
                            <source srcset="/images/variants/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/variants/3.webp" class="variants__card-bg-image" />
                        </picture>
                    </div>
                    <div class="variants__card-content">
                        <h3 class="variants__card-title">
                            Усадьба
                        </h3>
                        <div class="variants__card-text">
                            Шале выполнен в стилистике, традиционной для деревянных домов горных альпийских районов
                        </div>
                        <div class="variants__card-tags">
                            <div class="variants__card-tag">
                                от 4 часов
                            </div>
                            <div class="variants__card-tag">
                                до 15 гостей
                            </div>
                            <div class="variants__card-tag">
                                от 38 000 ₽
                            </div>
                            <div class="variants__card-tag">
                                Площадь дома 440 м2
                            </div>
                        </div>
                        <div class="variants__card-link">
                            Бронировать
                        </div>
                    </div>
                </a>
            </li>
            <li class="variants__list-item">
                <a href="#" class="variants__card">
                    <div class="variants__card-bg">
                        <picture>
                            <source srcset="/images/variants/4-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/variants/4.webp" class="variants__card-bg-image" />
                        </picture>
                    </div>
                    <div class="variants__card-content">
                        <h3 class="variants__card-title">
                            Изба
                        </h3>
                        <div class="variants__card-text">
                            Гостевой дом, сохранивший деревенский колорит благодаря оригинальному оформлению
                            и традиционной дровяной печи в гостиной
                        </div>
                        <div class="variants__card-tags">
                            <div class="variants__card-tag">
                                от 4 часов
                            </div>
                            <div class="variants__card-tag">
                                до 10 гостей
                            </div>
                            <div class="variants__card-tag">
                                от 38 000 ₽
                            </div>
                            <div class="variants__card-tag">
                                Площадь дома 440 м2
                            </div>
                        </div>
                        <div class="variants__card-link">
                            Бронировать
                        </div>
                    </div>
                </a>
            </li>
            <li class="variants__list-item">
                <a href="#" class="variants__card">
                    <div class="variants__card-bg">
                        <picture>
                            <source srcset="/images/variants/5-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/variants/5.webp" class="variants__card-bg-image" />
                        </picture>
                    </div>
                    <div class="variants__card-content">
                        <h3 class="variants__card-title">
                            Вилла
                        </h3>
                        <div class="variants__card-text">
                            Вилла выполнена в современной стилистике, совмещая в себе комфорт и уют бревенчатого дома
                        </div>
                        <div class="variants__card-tags">
                            <div class="variants__card-tag">
                                от 4 часов
                            </div>
                            <div class="variants__card-tag">
                                до 18 гостей
                            </div>
                            <div class="variants__card-tag">
                                от 38 000 ₽
                            </div>
                            <div class="variants__card-tag">
                                Площадь дома 440 м2
                            </div>
                        </div>
                        <div class="variants__card-link">
                            Бронировать
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>