@use "media";
@use "utils";

.contacts {
  @include utils.blockWrapper;
  margin-bottom: 10rem;
  padding-top: 15.6rem;

  @include media.breakpoint(mobile) {
    padding-top: 7.6rem;
    margin-bottom: 3.2rem;
  }
}

.contacts__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;

  @include media.breakpoint(mobile) {
    padding: 0 1.4rem;
  }
}

.contacts__heading {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-bottom: 4.8rem;

  @include media.breakpoint(mobile) {
    text-align: left;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.048rem;
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 0 auto;
  width: 100%;
  max-width: 73.8rem;
  grid-gap: 8.4rem;

  @include media.breakpoint(mobile) {
    max-width: 19rem;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 3.2rem;
  }
}

.contacts__list-item {
  display: flex;
  flex-direction: column;
}

.contacts__card {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @include media.breakpoint(mobile) {
    gap: 2rem;
  }
}

.contacts__card-icon {
  align-self: center;
  height: 9.2rem;
  width: auto;
  max-width: 100%;
  object-fit: contain;

  @include media.breakpoint(mobile) {
    height: 9.2rem;
  }
}

.contacts__card-link {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  background: #b9864b;
  &:link,
  &:visited {
    color: white;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}

.contacts__divider {
  display: none;
  @include media.breakpoint(mobile) {
    align-self: center;
    display: block;
    width: 13rem;
    height: 1px;
    margin-top: 3.8rem;
    position: relative;
    background-color: white;
    position: relative;
    max-width: 100%;

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}
