@use "media";
@use "utils";

.gallery {
  @include utils.blockWrapper;
  position: relative;
  z-index: 1;
  margin-bottom: 10rem;

  @include media.breakpoint(mobile) {
    margin-bottom: 0;
    aspect-ratio: 320 / 480;
    display: flex;
    flex-direction: column;
  }
}

.gallery__content {
  @include utils.blockContent;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  min-height: min(92.8rem, 100vh);
  pointer-events: none;

  @include media.breakpoint(mobile) {
    min-height: auto;
    flex-grow: 1;
  }
}

.gallery__bg-slider {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .swiper {
    margin: 0;
    flex-grow: 1;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .swiper-wrapper {
    flex-grow: 1;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
  }
}

.gallery__bg-slider-card {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.gallery__bg-slider-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__text-slider {
  grid-area: stack;
  display: flex;
  flex-direction: column;

  .swiper {
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .swiper-wrapper {
    flex-grow: 1;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
  }
}

.gallery__text-slider-card {
  padding: 13rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3.2rem;
  text-align: center;
  flex-grow: 1;

  @include media.breakpoint(mobile) {
    padding: 3.6rem 0;
    justify-content: space-between;
    gap: 1.6rem;
    padding-top: 4rem;
  }
}

.gallery__text-slider-card-title {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  @include media.breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.064rem;
    text-transform: uppercase;
  }
}

.gallery__text-slider-card-text {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  br {
    display: none;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    br {
      display: block;
    }
  }
}

.gallery__arrows {
  grid-area: stack;
  z-index: 5;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.gallery__arrow {
  width: 7.8rem;
  height: 7.8rem;
  flex-shrink: 0;
  transition: opacity 0.2s;
  pointer-events: all;
  @include media.breakpoint(mobile) {
    width: 3.9rem;
    height: 3.9rem;
  }

  &--prev {
    margin-left: -7.8rem;
    @include media.breakpoint(mobile) {
      margin: 0;
      margin-left: 0.5rem;
    }
  }

  &--next {
    margin-right: -7.8rem;
    @include media.breakpoint(mobile) {
      margin: 0;
      margin-right: 0.5rem;
    }
  }

  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.2s;
  }
}
