@use "media";
@use "utils";

.home-contacts {
  @include utils.blockWrapper;

  margin-bottom: 9.8rem;
  color: #e5e5e5;
}

.home-contacts__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.home-contacts__heading {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.072rem;
  text-align: center;

  @include media.breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.048rem;
  }
}

.home-contacts__text {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-top: 4rem;

  br {
    display: none;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 2.4rem;
    br {
      display: block;
    }
  }
}

.home-contacts__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  margin-top: 3.2rem;

  @include media.breakpoint(mobile) {
    margin-top: 1.6rem;
    gap: 2.6rem;
  }
}

.home-contacts__social-link {
  width: 5.7rem;
  height: 5.7rem;
  color: transparent;
  display: block;

  @include media.breakpoint(mobile) {
    width: 3rem;
    height: 3rem;
  }

  &:link,
  &:visited {
    color: transparent;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #b9864b;
  }
}

.home-contacts__phone {
  align-self: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 3.2rem;

  @include media.breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 1.6rem;
  }
}

.home-contacts__divider {
  width: 55rem;
  height: 1px;
  background-color: #e5e5e5;
  align-self: center;
  max-width: 100%;
  position: relative;
  margin-top: 9.8rem;

  @include media.breakpoint(mobile) {
    margin-top: 6.4rem;
    width: 13rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: inherit;
    z-index: 2;
  }
}
