@use "media";
@use "utils";

.kitchen-intro {
  @include utils.blockWrapper;
  margin-bottom: 10rem;
  position: relative;

  @include media.breakpoint(mobile) {
    margin-bottom: 3.5rem;
  }
}

.kitchen-intro__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
  min-height: min(100vh, 102.4rem);
  color: white;
  padding-bottom: 13rem;
  padding-top: 12rem;
  gap: 2rem;

  @include media.breakpoint(mobile) {
    all: revert;
    @include utils.blockContent;
    box-sizing: border-box;
    padding-top: 8rem;
    padding-inline: 2.4rem;
    display: flex;
    flex-direction: column;
  }
}

.kitchen-intro__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  @include media.breakpoint(mobile) {
    display: none;
  }
}

.kitchen-intro__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kitchen-intro__main-heading {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  @include media.breakpoint(mobile) {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.072rem;
    margin-bottom: 3.2rem;
  }
}

.kitchen-intro__text-content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @include media.breakpoint(mobile) {
    gap: 1.6rem;
    margin: 0;
  }
}

.kitchen-intro__heading {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  @include media.breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.04rem;
  }
}

.kitchen-intro__text {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  max-width: 114rem;
  text-wrap: balance;

  @include media.breakpoint(mobile) {
    max-width: none;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}

.kitchen-intro__divider {
  display: none;
  @include media.breakpoint(mobile) {
    position: relative;
    display: block;
    margin-top: 3.5rem;
    align-self: center;
    width: 13rem;
    max-width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      background-color: #E5E5E5;
    }
  }
}