@use "media";
@use "utils";

.variants {
  @include utils.blockWrapper;
  margin-bottom: 10rem;

  &--catalog {
    padding-top: 12rem;
  }

  @include media.breakpoint(mobile) {
    margin-bottom: 4rem;

    &--catalog {
      padding-top: 0;
      position: relative;
      margin-bottom: 0;
    }
  }
}

.variants__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.variants__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 4rem;
  @include media.breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 0;
    margin: 0 calc(-1 * var(--content-padding));
  }
}

.variants__list-item {
  display: flex;
  flex-direction: column;

  &--wide {
    grid-column: 1 / -1;
    .variants__card::before {
      padding-bottom: 48.2%;

      @include media.breakpoint(mobile) {
        padding-bottom: 150%;
      }
    }
  }
}

.variants__card {
  display: grid;
  flex-grow: 1;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    grid-area: stack;
    @include media.breakpoint(mobile) {
      padding-bottom: 150%;
    }
  }
}

.variants__card-bg {
  grid-area: stack;
  position: relative;
  z-index: 1;
  background-color: #000;
}

.variants__card-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.variants__card-content {
  grid-area: stack;
  z-index: 5;
  align-self: flex-end;
  padding: 2.8rem 4rem;
  display: flex;
  flex-direction: column;

  @include media.breakpoint(mobile) {
    padding: 3.2rem 3.2rem;
  }
}

.variants__card-title {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.072rem;

  @include media.breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.048rem;
  }
}

.variants__card-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 0.8rem;

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}

.variants__card-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1.8rem;
  max-width: 34rem;

  @include media.breakpoint(mobile) {
    margin-top: 0.8rem;
    max-width: none;
  }
}

.variants__card-tag {
  flex-shrink: 0;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 2rem;
  background: #a47853;
  color: white;
  padding: 0.4rem 0.8rem;

  @include media.breakpoint(mobile) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding: 0.4rem 2rem;
  }
}

.variants__card-link {
  align-self: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 1rem 2.4rem;
  border-radius: 3rem;
  border: 1px solid rgba(162, 165, 148, 0.8);
  background: rgba(23, 65, 51, 0.2);
  margin-top: 2.2rem;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;

  &:hover {
    background-color: #b9864b;
    border-color: #b9864b;
    color: white;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 2.2rem;
    padding: 0.8rem 2.2rem;
  }
}

.variants__heading {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 2.2rem;

  @include media.breakpoint(mobile) {
    position: absolute;
    margin: 0;
    left: 0;
    top: 8rem;
    width: 100%;
    text-align: center;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.072rem;
    z-index: 15;
  }
}
