@use "media";

:root {
  --primary-color: #174133;
  --text-color: #E5E5E5;
  --bg-color: #261c1c;
  --museo: "Museo Cyrillic", sans-serif;
  --gilroy: "Gilroy", sans-serif;
  --content-padding: 4rem;
  --container-width: 112.8rem;
  --header-height: 9.6rem;

  @include media.breakpoint(mobile) {
    --content-padding: 1rem;
    --header-height: 5.4rem;
  }
}
